html, body {
  margin: 0, auto;
}


.select select {
    width: 100%; /* Make the select fill its container width */
    padding: 10px; /* Add padding for better spacing */
    font-size: 16px; /* Set font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius */
    background-color: #fff; /* Set background color */
    cursor: pointer; /* Show pointer cursor on hover */
    display: block;
    margin: 25px auto;
  }
  
  /* Style for the options in the dropdown */
  .select select option {
    font-size: 16px; /* Set font size */
  }
  
  .select button {
    margin: 10px; /* Add some spacing between the dropdowns and the button */
    padding: 10px 20px; /* Add padding for better clickability */
    height: auto; 
    font-size: 16px; /* Set font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 12px; /* Add border radius */
    background-color: #6A0F49; /* Set background color */
    color: white; /* Set text color */
    cursor: pointer; /* Show pointer cursor on hover */
    display: block;
    margin: 0 auto;
  }

  .select button:hover {
    background-color: #2E0219;
  }
  
  .select {
    /* Center the div  */
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
  
    /* Dimensions  */
    width: 820px; /* Can be in percentage also. */
    height: 610px;  
    /* Visual  */
    background-color: #70BAFF;
    border-radius: 16px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .select h2 {
    text-align: center;
  }

  .select h4 {
    text-align: center;
  }
  