html, body {
    margin: 0, auto;
}

.button-container{
    display: grid;
        height: 750px;
        width: 1500px;
        grid-gap: 25px;
        margin-top: 50px;
        margin-right: 50px;
}

.teams-button {
    background-color: #70Baff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    transition: transform 0.3s ease-in-out;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 1;
    grid-row: 2;
}

.teams-button:hover{
    transform: translateY(-5px);
}

.settings-button {
    background-color: #70baff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 2;
}

.settings-button:hover{
    transform: translateY(-5px);
}

.tests-button {
    background-color: #70baff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 1 /span 2;
    grid-row: 1;
}

.tests-button:hover{
    transform: translateY(-5px);
}